/*
  *= require bootstrap
  *= require_self
  *= require_tree
  *= stub active_admin
*/

body {
  margin: 0px 0 0;
  padding: 0;
}

.top_buffer {
  margin-top: 20px;
}

.adminpanel {
  position: fixed;
  width: 300px;
  top: 100px;
  left: 50px;
}

.author {
  position: fixed;
  width: 300px;
  bottom: 50px;
  right: 50px;
}

.header {
  background: url('/assets/background_top.png') repeat-x;
}
