#vk_click:hover {
  background: url('vk_over.png') no-repeat;
}

.container {
  width: 1000px;

  .item {

    .credentials {
      img {
        width: 16px;
        height: 16px;
      }
    }
  }
}
